.header {
  position: fixed; /*bien*/
  top: 0; /*bien*/
  width: 100vw; /*bien*/
  background: white;
  display: flex; /*bien*/
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; /*bien*/
  font-size: 16px;
  font-family: "Rubik", sans-serif;

  padding: 20px 30px 30px;
}

.container {
  display: inline;
}
.menu {
  padding-top: 10px;
}

.box {
  padding: 10px;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  align-items: center;
}

.cuerpo {
  font-family: "Rubik", sans-serif;
  background-color: #3cdbc0; /*bien*/
  color: #ffffff; /*bien*/
  font-size: 30px; /*bien*/
  display: flex; /*bien*/
  justify-content: center;
  height: 100vh; /*bien*/
}
.texto {
  text-align: center; /*bien*/
  box-sizing: border-box;
  padding-top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 30px;
    flex-direction: row;
    box-sizing: border-box;
  }
  .box {
    align-items: center;
  }
  .menu {
    display: flex; /*no hace falta*/
    align-items: center;
    font-size: 1rem; /*no hace falta*/
    transform: translatey(50%);
    height: 1.875rem; /*no hace falta*/
  }
  .cuerpo {
    font-family: "Rubik", sans-serif;
    background-color: #3cdbc0;
    color: #ffffff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .texto {
    text-align: center; /*no hace falta*/

    padding-top: 50vh; /*no hace falta*/
    display: flex; /*no hace falta*/
    flex-direction: column; /*no hace falta*/
    justify-content: center; /*no hace falta*/
    box-sizing: border-box; /*no hace falta*/
  }
}
